@page "/"
@using AdventureLog.Shared.Cards
@using AdventureLog.Data
@using RazorGenericComponents

@inject Repository repository

<h1> Avialable Points = @totalAvilablePoints </h1>
<div class="container">
    <CollectionLayout TItem=Quest Collection="@quests">
        <ItemInCollection>
            <QuestCard quest=@context questTasks=@GetQuestTasks(@context)
                       GainPointsCallback=@((x) => totalAvilablePoints += x)
                       OnComplete=@(() => quests.Remove(context))
                       OnCancel=@(() => quests.Remove(context)) />
        </ItemInCollection>
    </CollectionLayout>

    <div class="row">
        <div class="col-md-6">
            <CollectionLayout TItem=Reward Collection=@rewards>
                <ItemInCollection>
                    <CollectableReward Reward=@context RedeemRewardCallback="@((x) => RedeemRewardCallback(x))" @bind-CurrentPoints="totalAvilablePoints" />
                </ItemInCollection>
            </CollectionLayout>
        </div>
    </div>
</div>

@code {
    ICollection<Quest> quests;
    List<DailyTask> dailyTasks;
    IEnumerable<int> UserTasksId => dailyTasks.Select(x => x.UserTaskId);
    ICollection<Reward> rewards;
    IEnumerable<CompletedTaskHistory> completedTaskHistories;
    int totalAvilablePoints;

    ICollection<QuestTask> GetQuestTasks(Quest quest) => repository.GetAll<QuestTask>(x => x.QuestId == quest.Id).ToList();


    protected override void OnInitialized()
    {
        quests = repository.GetAll<Quest>(x => x.IsActive).ToList();
        dailyTasks = repository.GetAllActiveDailyTasks(true);
        while (dailyTasks.Count < 3)
        {
            var task = repository.GetRandomTask(UserTasksId);
            if (task == null) break;
            dailyTasks.Add(task);
        }
        rewards = repository.GetAllRewards();
        completedTaskHistories = repository.GetCompletedTaskHistories();
        totalAvilablePoints = completedTaskHistories.Sum(x => x.RemainingPoints);
    }

    void RedeemRewardCallback(Reward reward)
    {
        if (!reward.IsRepetable)
        {
            rewards.Remove(reward);
            repository.Delete(reward);
        }
        int pointToPay = reward.Cost;
        foreach (var task in completedTaskHistories.Where(x => x.RemainingPoints > 0))
        {
            if (task.RemainingPoints >= pointToPay)
            {
                task.RemainingPoints -= pointToPay;
                repository.Update(task);
                break;
            }
            else
            {
                pointToPay -= task.RemainingPoints;
                task.RemainingPoints = 0;
                repository.Update(task);
            }
        }
    }

    void GetRandomTask()
    {
        var tasks = repository.GetRandomTasks();
        dailyTasks.AddRange(tasks);
    }

    void ReloadRandomTask(DailyTask dailyTask)
    {
        dailyTasks.Remove(dailyTask);
        repository.Delete(dailyTask);
        dailyTasks.Add(repository.GetRandomTask(UserTasksId));
    }

    void UpdateOnTaskEnd(DailyTask dailyTask)
    {
        dailyTasks.Remove(dailyTask);
        dailyTasks.Add(repository.GetRandomTask(UserTasksId));
        totalAvilablePoints += dailyTask.TotalGainPoints();
    }

}
