<div class="card">
    @if (CardHeader != null)
    {
        <div class="card-header">
            @CardHeader
        </div>
    }
    @if (CardBody != null)
    {
        <div class="card-body">
            @CardBody
        </div>
    }
    @if (CardFooter != null)
    {
        <div class="card-footer">
            @CardFooter
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment CardHeader { get; set; }
    [Parameter] public RenderFragment CardBody { get; set; }
    [Parameter] public RenderFragment CardFooter { get; set; }
}