<div class="card">
    <div class="row card-header">
        <div class="col-11"> @CardHeader </div>
        <div class="col-1">
            <DownUpButton ArrowStateChange="@(() => ChangeCollapseState())" />
        </div>
    </div>
    <div class="card-body @(IsCollapse ? "collapse" : "")">
        @CardBody
    </div>
    @if (CardFooter != null)
    {
        <div class="row card-footer @(IsCollapse ? "collapse" : "")">
            <div class="col-11">
                @CardFooter
            </div>
            <div class="col-1">
                <DownUpButton ArrowStateChange="@(() => ChangeCollapseState())" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment CardHeader { get; set; }
    [Parameter] public RenderFragment CardBody { get; set; }
    [Parameter] public RenderFragment CardFooter { get; set; }

    private bool IsCollapse = true;

    void ChangeCollapseState()
    {
        IsCollapse = !IsCollapse;
    }

}
