@typeparam TItem

@if (Collection == null)
{
    @LoadingFragment
}
else if (!Collection.Any())
{
    @NoDataFragment
}
else
{
    <div class="row">
        @foreach (TItem item in Collection)
        {
            @ItemInCollection(item)
        }
    </div>
}

@code {
    [Parameter] public ICollection<TItem> Collection { get; set; }
    [Parameter] public RenderFragment Title { get; set; }
    [Parameter] public RenderFragment<TItem> ItemInCollection { get; set; }
    [Parameter] public RenderFragment NoDataFragment { get; set; } = NoData;
    [Parameter] public RenderFragment LoadingFragment { get; set; } = Loading;

    private static RenderFragment Loading = @<p><em>Loading...</em></p>;
    private static RenderFragment NoData = @<p><em>No data</em></p>;
}


