@using System.Linq.Expressions

<InputCheckbox Value="IsCheckValue" ValueChanged=IsCheckValueChanged ValueExpression=IsCheckValueExpression class="form-check-input" />
<label class="form-check-label"> @LabelText </label>

@code {
    [Parameter] public bool IsCheckValue { get; set; }
    [Parameter] public EventCallback<bool> IsCheckValueChanged{ get; set; }
    [Parameter] public Expression<Func<bool>> IsCheckValueExpression { get; set; }
    [Parameter] public string LabelText { get; set; }
}
