@using System.Linq.Expressions

<label>@LabelName</label>
<InputText Value=@InputValue
    ValueChanged="InputValueChanged" 
    ValueExpression="InputValueExpression"
    class="form-control" />

@code {
    [Parameter] public string LabelName { get; set; }
    [Parameter] public string InputValue { get; set; }
    [Parameter] public EventCallback<string> InputValueChanged { get; set; }
    [Parameter] public Expression<Func<string>> InputValueExpression { get; set; }
}   
